body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', arial;
}

.navbar, .container {
    background-color: #1F2937;
    display: flex;
}

.navbar {
    justify-content: space-around;
    padding: 10px;
    color: white;
    font-family: sans-serif;
}

.logo {
    margin: 10px;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.heading_and_description {
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 20px;
}

.signup-button {
    border: 2px solid white;
    background-color: #3882F6;
    border-radius: 8px;
    width: 110px;
    height: 40px;
    color: white;
    font-weight: 600;
}

.main_text {
    color: white;
    font-size: 48px;
    font-weight: 900;
}

.secondary_text {
    color: #e5e7eb;

}

.image_placeholder {
    width: 30vw;
    height: auto;
    margin: 10px;
    border-radius: 50px;
}

.information_header {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}

.moodeng_images img {
    width: 20vw;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.moodeng_images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: large;
    color: gray;
}

.container_1 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 50px;
}

.information_header {
    margin: 25px;
}

.moodeng_container {
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 5%
}

.container_2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

}

.quote {
    width: 50vw;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: rgb(77, 75, 75)
}

.quote_author {
    align-self:center;
    margin-left: 300px;
    margin-top: 30px;
    font-weight: bold;
    color: rgb(77, 75, 75);
    font-size: 20px;
}

.container_3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.action_button_container {
    background-color:#3882F6;
    height: 20vh;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}


#big {
    color: white;
    font-weight: 900;
    font-size: 36px;
}

#small {
    color: white;
    font-weight: 200;
    font-size: 15px;
}


footer {
    background-color: #1F2937;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#copyright {
    padding-left: 100px;
}